.modal-dialog,
.modal-content-height {
    /* 80% of window height */
    height: 90%;
}

.modal-body-height {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 260px);
     overflow-y: auto;
}