.modal-dialog,
.modal-content-height {
    /* 80% of window height */
    height: 90%;
}

.modal-body-height {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100vh - 260px);
     overflow-y: auto;
}

.navbar{
    background-color: #4a9160;
    color: white;
}
.navbar-default .navbar-text{
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

.panel-default > .panel-heading 
{
    background-color: #4a9160;
    color: white;

}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
    background-color: #4a9160;
    color: white;
}