<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Savings and Blown</title>
    <script type="text/javascript" src="/v2/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/v2/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/v2/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/v2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/v2/bower_components/bootstrap/js/collapse.js"></script>
    <script type="text/javascript" src="/v2/bower_components/bootstrap/js/modal.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/Directives.js"></script>
    <script type="text/javascript" src="js/BankController.js"></script>
    <link rel="stylesheet" href="/v2/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="mainApp">
    <menu-bar>

    </menu-bar>

    <div class="container" ng-controller="BankController as myc">
        <status-filters></status-filters>
        <account-summary></account-summary>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">Transactions for {{myc.selectedBank}}</span>
                <span style="float: right">
                     <button type="button" class="btn btn-primary btn-xs" aria-label="Filter" ng-click="myc.ShowStatusDialog()">
                         <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                     </button>
                     <button type="button" class="btn btn-xs" ng-class="{'btn-primary': !myc.showCurrent, 'btn-default': myc.showCurrent}" aria-label="Switch Balance" ng-click="myc.SwitchShowCurrent()">
                         <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                     </button>
                    <button type="button" class="btn btn-primary btn-xs" aria-label="Add Transaction">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        <table class="table">
            <thead>
            <tr class="">
                <th class="col-md-2">Date</th>
                <th class="col-md-4">Payee</th>
                <th class="col-md-2">Withdrawal</th>
                <th class="col-md-2">Deposit</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-2">Total</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="myTransaction in myc.Transactions | filter: myc.filteredTransactions">
                <td>{{myTransaction.date}}</td>
                <td>{{myTransaction.payee}}</td>
                <td><div ng-show="myTransaction.type == 'widthdrawl'">{{myTransaction.amount  |currency }}</div></td>
                <td><div ng-show="myTransaction.type == 'deposit'">{{myTransaction.amount  | currency }}</div></td>
                <td><div ng-click="myc.UpdateStatus(myTransaction)">{{myTransaction.Status | statusCheckMark}}</div></td>
                <td><transaction-balance></transaction-balance></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</body>
</html>