<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Savings and Blown</title>
    <script type="text/javascript" src="/v2/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/v2/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/v2/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/v2/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/v2/bower_components/bootstrap/js/collapse.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/Directives.js"></script>
    <script type="text/javascript" src="js/BankController.js"></script>
    <link rel="stylesheet" href="/v2/bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body ng-app="mainApp">
    <menu-bar>

    </menu-bar>

    <div class="container" ng-controller="BankController as myc">
        <button ng-click="myc.SwitchShowCurrent()" class="btn btn-default">Switch Showing Balance</button>
        <table class="table">
            <thead>
            <tr class="">
                <th class="col-md-2">Date</th>
                <th class="col-md-4">Payee</th>
                <th class="col-md-2">Withdrawal</th>
                <th class="col-md-2">deposit</th>
                <th class="col-md-1">status</th>
                <th class="col-md-2">Total</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="myTransaction in myc.Transactions">
                <td>{{myTransaction.date}}</td>
                <td>{{myTransaction.payee}}</td>
                <td><div ng-show="myTransaction.type == 'widthdrawl'">{{myTransaction.amount  |currency }}</div></td>
                <td><div ng-show="myTransaction.type == 'deposit'">{{myTransaction.amount  | currency }}</div></td>
                <td><div ng-click="myc.UpdateStatus(myTransaction)">{{myTransaction.Status | statusCheckMark}}</div></td>
                <td><transaction-balance></transaction-balance></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>