<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Category Summary</div>
    </div>
    <div class="panel-body">

        <div class="input-group">
            <label><a href="#" ng-click="ResetFilter()">Total</a> </label>
            <span class="form-control-static">
                {{summaryData.TotalGains | currency}}({{summaryData.TotalTransactions}})
            </span>
        </div>

        <div class="input-group" ng-repeat="cat in summaryData.ByCategory | orderBy: '-Gains'">
            <label><a href="#" ng-click="selectCategory(cat.category)">{{cat.category}}</a></label>
            <span class="form-control-static">
                {{cat.Gains | currency}}
            </span>
        </div>

    </div>
</div>