<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/v2/logo.jpg" height="30px" width="50px"/> </a>
        </div>
        <p class="navbar-text">Signed in as <span>{{menuBarData.username}}</span><a href="#">(Signout)</a></p>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Banks <span>(<span>{{menuBarData.selectedBank}}</span>)</span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="bank in menuBarData.banks">
                            <a ng-click='menuCtrl.UpdateBankName(bank.bankName)'>{{bank.bankName}}</a></li>
                    </ul>
                </li>
                <li><a href="#" ng-click="menuCtrl.AddTransaction()">Add Transaction</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plan<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="OpenPopulatorWindow()">Populator</a> </li>
                        <li><a href="/private/PlanEditor.html">Plan Editor</a></li>
                    </ul>
                </li>
                <li><a href="/private/BankConfiguration.html">Configuration</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filters<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="menuCtrl.updateDisplay('showPending')">Show Pending {{showPending | filterCheckmark}}</a></li>
                        <li><a ng-click="menuCtrl.updateDisplay('showCleared')">Show Cleared {{showCleared | filterCheckmark}}</a></li>
                        <li><a ng-click="menuCtrl.updateDisplay('showFutureItems')">Show Future Items {{showFutureItems | filterCheckmark}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="menuCtrl.updateDisplay('showNeedsTip')">Tip Needed Items {{showNeedsTips | filterCheckmark}}</a></li>

                    </ul>
                </li>
                <form class="navbar-form navbar-left">
                    <input type="textbox" class="form-control" ng-model="searchQuery" ng-change="UpdateSearchQuery()"/>
                </form>
                <li>
            </ul>


        </div>

    </div>
</nav>