<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/v2/logo.jpg" height="30px" width="50px"/> </a>
        </div>
        <p class="navbar-text">Signed in as <span>{{menuBarData.username}}</span><a href="#">(Signout)</a></p>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-class="{active : activeMenuItem == 'bank'}" ng-show="activeMenuItem == 'bank'">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Banks <span>(<span>{{menuBarData.selectedBank}}</span>)</span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="bank in menuBarData.banks">
                            <a ng-click='menuCtrl.UpdateBankName(bank)'>{{bank.bankName}}</a></li>
                    </ul>
                </li>
                <li ng-hide="activeMenuItem == 'bank'"><a href="Banks.html">Banks</a></li>
                <li><a href="#" ng-click="menuCtrl.AddTransaction()">Add Transaction</a></li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plan<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-show="activeMenuItem =='bank'"><a ng-click="OpenPopulatorWindow()">Populator</a> </li>
                        <li><a href="/private/PlanEditor.html">Plan Editor</a></li>
                    </ul>
                </li>
                <li class="tab" ng-class="{active : activeMenuItem == 'config'}"><a href="bankConfiguration.html">Configuration</a></li>

                <form class="navbar-form navbar-left" ng-show="activeMenuItem =='bank'">
                    <span class="input-group" style="width:200px;">
                        <input type="textbox" class="form-control" ng-model="searchQuery" ng-change="UpdateSearchQuery()" width="100px" placeholder="Search"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a ng-click="menuCtrl.updateDisplay('showPending')">Show Pending {{filters.showPending | filterCheckmark}}</a></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showCleared')">Show Cleared {{filters.showCleared | filterCheckmark}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showFutureItems')">Show Future Items {{filters.showFutureTransaction | filterCheckmark}}</a></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showNextSevenDays')">Show Next 7 Items {{filters.showNextSevenDays | filterCheckmark}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showBudgetItems')">Show Budget Items {{filters.showBudgetItems | filterCheckmark}}</a></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showNeedsTip')">Tip Needed Items {{filters.showNeedsTips | filterCheckmark}}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a ng-click="menuCtrl.updateDisplay('showCurrentBalance')">Show Current Balance {{filters.showCurrentBalance | filterCheckmark}}</a></li>
                            </ul>
                        </span><!-- /btn-group -->
                    </span>
                </form>
                <li>
            </ul>


        </div>

    </div>
</nav>