<div class="modal fade bs-example-modal-md" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content modal-content-height">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel summaryLabel">Details</h4>
            </div>
            <div class="modal-body modal-body-height">
                <form name="transactionForm">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtDate">Date</label>
                                <input type="date" class="form-control" id="txtDate" placeholder="" ng-model="transactionObject.Date">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtPayee">Payee <span class="label label-danger">Required <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;</span>
                                </label>
                                <input type="text" ng-required="true" class="form-control" id="txtPayee" name="txtPayee" placeholder="" ng-model="transactionObject.Payee">
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-6">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Transaction Type</label>
                                <select class="form-control" ng-model="transactionObject.Type">
                                    <option value="withdrawal" ng-selected="{{transactionObject.Type == 'withdrawal'}}">withdrawal</option>
                                    <option value="deposit" ng-selected="{{transactionObject.Type == 'deposit'}}">deposit</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Amount &nbsp;<span class="label label-danger">Required <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;</span>
                                     <span class="label label-danger" ng-if="!transactionForm.txtAmount.$valid">Invalid Number <span class="glyphicon glyphicon-warning glyphicon-exclamation-sign"></span>&nbsp;</span>
                                </label>
                                <input type="number"  ng-required="true" name="txtAmount" maxlength="12" class="form-control" id="txtAmount" placeholder="" ng-maxlength="12" ng-model="transactionObject.Amount"/>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-6">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" ng-model="transactionObject.Status">
                                    <option value="Pending" ng-selected="{{transactionObject.Status == 'Pending'}}">Pending</option>
                                    <option value="Cleared" ng-selected="{{transactionObject.Status == 'Cleared'}}">Cleared</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="idCat">Category</label>
                                <select id="idCat" class="form-control" ng-model="transactionObject.Category" ng-hide="ShowOtherText">
                                    <option ng-repeat="category in Categories | filter: {Active:true} | orderBy: 'Text'" value="{{category.Text}}" ng-selected="{{category.Text == transactionObject.Category}}">{{category.Text}}</option>
                                </select>
                                <a href="#" ng-click="transactionCtrl.ShowOtherTextBox()" style="font-size: 8pt;" ng-hide="ShowOtherText">Not Listed</a>
                                <input class="form-control" ng-model="transactionObject.Category" ng-show="ShowOtherText"/>
                            </div>
                        </div>
                    </div>

                    <div class="row"><div class="col-lg-6">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="txtNodes">Notes</label>
                                <textarea id="txtNodes" rows="4" class="form-control" ng-model="transactionObject.Notes"></textarea>
                            </div>
                        </div>
                    </div>


                </form>
                Inserted on <span style="font-style: italic;">{{transactionObject.InsertDate}}</span><br/>
                Updated on <span style="font-style: italic;">{{transactionObject.UpdateDate}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!transactionForm.txtAmount.$valid && !transactionForm.txtPayee.$valid" class="btn btn-default" ng-click="transactionCtrl.SaveTransaction()">Save</button>
            </div>
        </div>
    </div>
</div>